html,
body {
  /* background: #1e1e1e; */
  margin: 0;
}

/* THEME COLORS */

:root {
  --primary-10: #66b2ff;
  --primary-20: #47858c;
  --primary-30: #07586b;
  --primary-40: #07555b;
  --dark-10: #3e3e42;
  --dark-20: #2d2d30;
  --dark-30: #252526;
  --dark-40: #1e1e1e;
  --light-10: #f2f2f2;
  --light-20: #e5e5e5;
  --light-30: #d8d8d8;
  --light-40: #e2e5e2;
  --black: #000000;
  --white: #ffffff;
}

a:hover {
  cursor: 'pointer';
}

.map-container {
  min-height: 500px;
  height: 100%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: var(--light-40);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

textarea.MuiInputBase-inputMultiline {
  resize: vertical;
}

.MuiFormControl-root .MuiInputBase-root {
  height: 100%;
}
